/* *{
    width: 0px;
    padding: 0px;
} */


.heading{
   border: 2px solid black;
   display: flex;
   align-items: center;
   justify-content: space-between;
    padding: 12px 24px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     background-color: rgb(237, 235, 235);
}

.logo img {
  height: 50px;
  width: auto;
  border-radius: 50%;
}
.user-icon img{
  height: 50px;
  width: 50px;
}

.search-bar input {
  width: 300px;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}


/* Responsive behavior */
@media (max-width: 600px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}